/*------------------------------------------------------------*/
/*----------------------Navbar Section------------------------*/
/*------------------------------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #d04141;
    padding-bottom: 200px;
    overflow-x: hidden;   
    background-image: url(../../img/fondo5.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background-attachment: scroll;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100% ;
}

.logo img {
    height: 2.5rem;
}

.menu_wrapper {
    display: flex;
    position: static;
    justify-content: space-between;
    z-index: 2;
    gap: 1.5rem;
    width: 100%;
    max-width: 80rem;
    padding: 0px 1rem;
    align-items: center;
}

.menu_bar {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 4rem;
    background-color: #fff;
}

.nav>li {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    min-height: 2.25rem;
}

.nav>li>a {
    color: #d04141;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.nav>li>a:hover {
    color: #9e2a2a;
}

.nav>li>button {
    color: #d04141;
    text-decoration: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    margin-right: -0.25rem;
    align-items: center;
    min-height: 2.25rem;
    font-size: 14px;
    gap: 0.25rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: nowrap;
    padding: 0.25rem 0.7rem;
    white-space: nowrap;
    background: none;
    display: flex;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.nav>li:hover>button {
    color: #d04141;
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: nowrap;
}

.action-buttons a {
    text-decoration: none;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease-in-out;
    line-height: 1.25rem;
}

.primary {
    color: #fff;
    border-radius: 0.5rem;
    background-color: #d04141;
    border: none;
    padding: 0.5rem 1rem;
}

.primary:hover {
    background-color: #9e2a2a;
    color: #fff;
}

.secondary {
    color: #d04141;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 0.5px solid #000;
    padding: 0.5rem 1rem;
}

.secondary:hover {
    background-color: #d04141;
    color: #fff;
}

/*------------------------------------------------------------*/
/*----------------------Content Section------------------------*/
/*------------------------------------------------------------*/

.container {
    display: flex;
    justify-self: end;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 20rem;
    width: 100%;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border-radius: 8%;
    color : #000;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-right: 100px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 100;
    font-style: normal;
    background-color: #fff;
}

.title {
    color: #d04141;
    text-align: center;
    margin: 20px;
    font-size: 13px;
}

#user{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.classinput{
    margin: 0px 30px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 5px 0px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #d04141;
    transition: border-bottom 0.1s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #d04141;
    font-family: "Be Vietnam Pro", sans-serif;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input::placeholder {
    color: #d04141;
}

.btns{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
    margin: 0px 25px;
}

button {
    background-color: #d04141;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-family: "Be Vietnam Pro", sans-serif;
}

button:hover {
    background-color: #9e2a2a;
}

.btn_registro_c{
    background-color: #fff;
    color: #d04141;
    border: 1px solid #d04141;
}

.btn_registro_c:hover{
    background-color: #d04141;
    color: #fff;
}

.btn_iniciar_i{
    background-color: #fff;
    color: #d04141;
    border: 1px solid #d04141;
}

.btn_iniciar_i:hover{
    background-color: #d04141;
    color: #fff;
}


.terms {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.terms a {
    color: #d04141;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.cont2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 25px;
}

.cont2 a{
    color: #d04141;
    text-decoration: none;
}
