/* ----------------------------------------- */
/* ------------------Navbar----------------- */
/* ----------------------------------------- */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #d04141;
    padding-bottom: 200px;
    overflow: hidden;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background-attachment: scroll;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100% ;
}

.logo img {
    height: 2.5rem;
}

.menu_wrapper {
    display: flex;
    position: static;
    justify-content: space-between;
    z-index: 2;
    gap: 1.5rem;
    width: 100%;
    max-width: 80rem;
    padding: 0px 1rem;
    align-items: center;
}

.menu_bar {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 4rem;
    background-color: #fff;
}

.nav>li {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    min-height: 2.25rem;
}

.nav>li>a {
    color: #d04141;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.nav>li>a:hover {
    color: #9e2a2a;
}

.nav>li>button {
    color: #d04141;
    text-decoration: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    margin-right: -0.25rem;
    align-items: center;
    min-height: 2.25rem;
    font-size: 14px;
    gap: 0.25rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: nowrap;
    padding: 0.25rem 0.7rem;
    white-space: nowrap;
    background: none;
    display: flex;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.nav>li:hover>button {
    color: #d04141;
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: nowrap;
}

.action-buttons a {
    text-decoration: none;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease-in-out;
    line-height: 1.25rem;
}

.primary {
    color: #fff;
    border-radius: 0.5rem;
    background-color: #d04141;
    border: none;
    padding: 0.5rem 1rem;
}

.primary:hover {
    background-color: #9e2a2a;
    color: #fff;
}

.secondary {
    color: #d04141;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 0.5px solid #000;
    padding: 0.5rem 1rem;
}

.secondary:hover {
    background-color: #d04141;
    color: #fff;

}
/* -------------------------------------------*/
.container_info_funcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittle_funcion{
    font-size: 20px;
    color: #d04141;
    margin-bottom: 10px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: rgba(172, 178, 176, 0.361);
    border-radius: 25px;
}
.horario_funcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 121px;
    padding-right: 121px;
    background-color: rgba(172, 178, 176, 0.361);
    border-radius: 25px;
}

.container_usuario_info{
    background-color: #d2d3d5;
    padding: 25px 100px 25px 100px;
    height: 62vh;
    width: 90vh;
    border-radius: 25px;
}

.usuario_info{
    display: block;
}

.info_tittle{
    text-align: center;
    margin-top: 8vh;
    font-size: 20px;
    border-bottom: #d04141 solid 3px;
}
form{
    text-align: center;
    margin-top:5vh ;
}
.usuario_info form .info_group label{
    width: 40%;
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-top: 9px;
    position: relative;
    padding-left: 22px;
    height: 40px;
    margin: 0;
}

.usuario_info form .info_group label.info_user{
    width: 60%;
    float: left;
    background-color: #d9d8d8;
    padding: 8px 14px;
    border: 1px solid transparent;
    border-radius: 3px;
    height: 40px;
    color: #000000;
    margin: 0
}

.btn_compra{
    text-decoration: none;
    margin-top: 35px;
    color: #000000;
    border-radius: 0.5rem;
    background-color: #cccaca;
    border: none;
    padding: 0.5rem 2rem;
    font-size: 15px;
    transition: box-shadow 0.2s ease-in-out;

}

.btn_compra:hover{
    box-shadow: 0 10px 15px -3px rgb(85, 80, 80), 0 4px 6px -4px rgb(119, 107, 107);
}

/* ------------------------------------------ */
.container_entrada_compra{
    background-color: #d2d3d5;
    padding: 25px;
    height: 65vh;
    width: 110vh;
    border-radius: 25px;
}

.tittle_boletos{
    text-align: center;
    font-size: 20px;
    border-bottom: #d04141 solid 3px;
}

.butaca_info{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.butaca_img, .butaca{
    margin: 0;
    padding: 0;
}

.precio_butaca{
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;
}

.butaca{
    margin-top: 25px;
    width: 40%;
}

img{
    width: 100%;
}

.precio_detalle1 h2{
    font-size: 20px;
}

.precio_detalle1 p{
    font-size: 9px;
}

.precio_detalle1 h5{
    font-size: 12px;
}

.precio_detalle1{
    display: flex;
    flex-direction: column;
    margin: 10px 70px 30px 0px;
}
.precio_detalle2{
    margin-top: 13px;
}

.btns_entrada_boletos{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.btn_boletos1{
    text-decoration: none;
    margin-top: 35px;
    color: #ffffff;
    border-radius: 0.5rem;
    background-color: #adadad;
    border: none;
    padding: 0.5rem 2rem;
    font-size: 15px;
    transition: box-shadow 0.2s ease-in-out;
}

.btn_boletos1:hover{
    box-shadow: 0 10px 15px -3px rgb(85, 80, 80), 0 4px 6px -4px #adadad;
}

.btn_boletos2{
    text-decoration: none;
    margin-top: 35px;
    color: #ffffff;
    border-radius: 0.5rem;
    background-color:#767676;
    border: none;
    padding: 0.5rem 2rem;
    font-size: 15px;
    transition: box-shadow 0.2s ease-in-out;
}

.btn_boletos2:hover{
    box-shadow: 0 10px 15px -3px rgb(85, 80, 80), 0 4px 6px -4px #767676;
}

/* -------------------------------------------*/

:root{
    --color: linear-gradient(0deg, transparent, rgb(184,184,184,.2))
}

.container_principal_seat_selector{
    display: flex;
    margin: 0px 70px;
    gap:10vh;
}

.container_left{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.container_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.container_reserva{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    height: 55vh;
    width: 70vh;
    border-radius: 25px;
}
.container_reserva strong{
    color: #d04141;
    font-size: 20px;
}

.container_reserva b{
    font-size: 13px;
}

.img_funcion{
    width: 75%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.img_funcion img{
    width: 100%;
    margin:15px 0px 15px 0px;
/*     border-radius: 25px; */
}

.seat_count{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.seat_count input{
    width: 50%;
    border-radius: 5px;
    border: 0.5px solid #d04141;
}

.container_tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2d3d5;
    color: #000000;
    border-radius: 10px;
    width: 110vh;
    height: 5vh;
    margin-bottom: 15px;
    opacity: 0.8;
}

.container_selector{
    background-color: #d2d3d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 45px 25px 25px;
    height: 78vh;
    width: 115vh;
    border-radius: 25px;
}

.escenario{
    width: 100%;
    border-top: 3px solid #d04141;
    margin-top: 20px;
    border-radius: 45%;
    overflow: hidden;
    box-shadow:inset 0px 10px 20px var(--color);
    text-align: center;
    padding-top: 20px;
    color: #000000;
    letter-spacing: 5px;
    font-size: 18px;
}

.border_escenario1{
    border-top: #000 solid 1px;
}
.border_escenario2{
    border-top: #d04141 solid 2px;
    border-bottom: #d04141 solid 2px;
}


.container_chair_span{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.alfabe{
    border: #000 solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:60px;
    gap: 2px ;
    font-size: 25px;
    opacity: 0.5;
}

.margin_span{
    margin: 0px 5px 1px 5px;
}

.contairner_chair{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.chair{
    width: 100%;
    padding-left: 20px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40vh;
}

.chair .row{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.chair .row li{
    position: relative;
    width: 35px;
    height: 27px;
    background-color: rgb(187, 98, 98);
    list-style: none;
    border-radius: 5px;
    border-left: #000 solid 3px;
    border-right: #000 solid 3px;
    border-bottom: #000 solid 4px;
    cursor: pointer;
    transition: .3s linear;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 600;
}


.chair .row li:hover{
    background-color: rgb(33, 160, 33);
    transition: 0.1s;
    color: #000;
}

.chair .row li:nth-child(1) {
    transform: rotate(35deg) translate(45px, 30px);
}

.chair .row li:nth-child(2) {
    transform: rotate(30deg) translate(60px, 40px);
}

.chair .row li:nth-child(3) {
    transform: rotate(25deg) translate(75px, 50px);
}

.chair .row li:nth-child(4) {
    transform: rotate(20deg) translate(90px, 60px);
}

.chair .row li:nth-child(5) {
    transform: rotate(15deg) translate(105px, 70px);
}

.chair .row li:nth-child(6) {
    transform: rotate(10deg) translate(120px, 80px);
}

.chair .row li:nth-child(7) {
    transform: rotate(5deg) translate(135px, 90px);
}

.chair .row li:nth-child(8) {
    transform: rotate(0deg) translate(150px, 100px);
}

.chair .row li:nth-child(9) {
    transform: rotate(-5deg) translate(165px, 110px);
}

.chair .row li:nth-child(10) {
    transform: rotate(-10deg) translate(180px, 120px);
}

.chair .row li:nth-child(11) {
    transform: rotate(-15deg) translate(195px, 130px);
}

.chair .row li:nth-child(12) {
    transform: rotate(-20deg) translate(210px, 140px);
}
/* ------------------------------------------------------------ */
.container_metodo_pago{
    background-color: #d2d3d5;
    padding: 25px;
    height: 75vh;
    width: 110vh;
    border-radius: 25px;
}
.tittle_metodo_pago{
    text-align: center;
    font-size: 20px;
    border-bottom: #d04141 solid 3px;
}
.space_pay{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60vh;
    border: #000 solid 1px;
}
.red_important{
    color: #d04141;
    width: 100%;
}
.mxy{
    margin: 5px;
    font-size: small;
}

.campos_pay {
    display: flex;
}

.mxy, .input_pay, .input_pay_date {
    display: block;
}

.campos_pay > div {
    width: 50%;
    box-sizing: border-box;
}

.campos_pay > div:nth-child(odd) {
    padding-right: 20px;
    margin-bottom: 30px;
}

.input_pay, .input_pay1 {
    height: 70px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #868585;
    box-sizing: border-box;
}
.input_pay1{
    padding: 0 42px;
}

.qrkoko{
    margin-top: 20px;

}
